.cont
{
    margin-top: 30px;
    background: whitesmoke;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
}

